@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
.container_ {
    width: 85%;
    border-radius: 6px;
    padding: 20px 60px 30px 40px;
}

.container_ h1 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 100px;
    background-image: var(--complementary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container_ .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container_ .content .left-side {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
}

.content .left-side::before {
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
}

.content .left-side .details {
    margin: 14px;
    text-align: center;
}

.content .left-side .details i {
    font-size: 30px;
    background-image: var(--complementary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
}

.content .left-side .details .topic {
    font-size: 18px;
    font-weight: 500;
}

.content .left-side .details .text-one,
.content .left-side .details .text-two {
    font-size: 12px;
    color: #afafb6;
}

.container_ .content .right-side {
    width: 75%;
    margin-left: 75px;
}

.content .right-side .topic-text {
    font-size: 23px;
    font-weight: bold;
    background-image: var(--complementary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.right-side .input-box {
    height: 50px;
    width: 100%;
    margin: 12px 0;
    padding: 4px;
}

.right-side .input-box input,
.right-side .input-box textarea {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 12px;
    background: #F0F1F8;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
}

.right-side .message-box {
    min-height: 110px;
}

.right-side .input-box textarea {
    padding-top: 6px;
}

.right-side .button {
    display: inline-block;
    margin-top: 12px;
}

.right-side .button input[type="button"] {
    color: #fff;
    font-size: 12px;
    font-weight: 20px;
    outline: none;
    border: none;
    padding: 8px 10px;
    border-radius: 6px;
    background: var(--complementary);
    cursor: pointer;
    width: 100px;
    transition: all 0.3s ease;
}

.button input[type="button"]:hover {
    color: var(--secondary);
}

@media (max-width: 950px) {
    .container_ {
        width: 90%;
        padding: 30px 40px 40px 35px;
    }
    .container_ .content .right-side {
        width: 75%;
        margin-left: 55px;
    }
}

@media (max-width: 820px) {
    .container_ {
        margin: 40px 0;
        height: 100%;
    }
    .container_ .content {
        flex-direction: column-reverse;
    }
    .container_ .content .left-side {
        width: 100%;
        flex-direction: row;
        margin-top: 40px;
        justify-content: center;
        flex-wrap: wrap;
    }
    .container_ .content .left-side::before {
        display: none;
    }
    .container_ .content .right-side {
        width: 100%;
        margin-left: 0;
    }
}